# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Analysis/.libs/
Analysis/Makefile
Analysis/Makefile.in
Analysis/Observer/src/.deps/
Analysis/Observer/src/.dirstamp
Analysis/Score/src/.deps/
Analysis/Score/src/.dirstamp
Environment/.libs/
Environment/Configuration/src/.deps/
Environment/Configuration/src/.dirstamp
Environment/MCObjects/src/.deps/
Environment/MCObjects/src/.dirstamp
Environment/Makefile
Environment/Makefile.in
Environment/Utilities/src/.deps/
Environment/Utilities/src/.dirstamp
Environment/VertigoObjects/src/.deps/
Environment/VertigoObjects/src/.dirstamp
Makefile
Makefile.in
Plugins/BTagAnalyser/Makefile
Plugins/BTagAnalyser/Makefile.in
Plugins/BTagAnalyser/src/.deps/
Plugins/BTagPrinter/Makefile
Plugins/BTagPrinter/Makefile.in
Plugins/BTagPrinter/src/.deps/
Plugins/CmsEventGenerator/Makefile
Plugins/CmsEventGenerator/Makefile.in
Plugins/CmsEventGenerator/src/.deps/
Plugins/EventHistogrammer/Makefile
Plugins/EventHistogrammer/Makefile.in
Plugins/EventHistogrammer/src/.deps/
Plugins/EventPrinter/Makefile
Plugins/EventPrinter/Makefile.in
Plugins/EventPrinter/src/.deps/
Plugins/EventWriter/Makefile
Plugins/EventWriter/Makefile.in
Plugins/EventWriter/src/.deps/
Plugins/FindingObserver/Makefile
Plugins/FindingObserver/Makefile.in
Plugins/FindingObserver/src/.deps/
Plugins/FitterTournament/Makefile
Plugins/FitterTournament/Makefile.in
Plugins/FitterTournament/src/.deps/
Plugins/HarvesterEventGenerator/Makefile
Plugins/HarvesterEventGenerator/Makefile.in
Plugins/HarvesterEventGenerator/src/.deps/
Plugins/HepMCEventGenerator/Makefile
Plugins/HepMCEventGenerator/Makefile.in
Plugins/HepMCEventGenerator/src/.deps/
Plugins/KinematicsObserver/Makefile
Plugins/KinematicsObserver/Makefile.in
Plugins/KinematicsObserver/src/.deps/
Plugins/LHEEventGenerator/Makefile
Plugins/LHEEventGenerator/Makefile.in
Plugins/LHEEventGenerator/src/.deps/
Plugins/LHEObserver/Makefile
Plugins/LHEObserver/Makefile.in
Plugins/LHEObserver/src/.deps/
Plugins/LcioEventGenerator/Makefile
Plugins/LcioEventGenerator/Makefile.in
Plugins/LcioEventGenerator/marlinrave/src/.deps/
Plugins/LcioEventGenerator/src/.deps/
Plugins/LcioWriter/Makefile
Plugins/LcioWriter/Makefile.in
Plugins/LcioWriter/marlinrave/src/.deps/
Plugins/LcioWriter/src/.deps/
Plugins/ListEventGenerator/Makefile
Plugins/ListEventGenerator/Makefile.in
Plugins/ListEventGenerator/src/.deps/
Plugins/MagneticFieldWriter/Makefile
Plugins/MagneticFieldWriter/Makefile.in
Plugins/MagneticFieldWriter/src/.deps/
Plugins/Makefile
Plugins/Makefile.in
Plugins/ObjectCoder/Makefile
Plugins/ObjectCoder/Makefile.in
Plugins/ObjectCoder/src/.deps/
Plugins/ParameterScanner/Makefile
Plugins/ParameterScanner/Makefile.in
Plugins/ParameterScanner/src/.deps/
Plugins/ParticleDecayPrinter/Makefile
Plugins/ParticleDecayPrinter/Makefile.in
Plugins/ParticleDecayPrinter/src/.deps/
Plugins/TestAnalyser/Makefile
Plugins/TestAnalyser/Makefile.in
Plugins/TestAnalyser/src/.deps/
Plugins/TrackParameterHistogrammer/Makefile
Plugins/TrackParameterHistogrammer/Makefile.in
Plugins/TrackParameterHistogrammer/src/.deps/
Plugins/VertexGun/Makefile
Plugins/VertexGun/Makefile.in
Plugins/VertexGun/src/.deps/
Plugins/VertexHistogrammer/Makefile
Plugins/VertexHistogrammer/Makefile.in
Plugins/VertexHistogrammer/src/.deps/
Plugins/Visualiser/Makefile
Plugins/Visualiser/Makefile.in
Plugins/Visualiser/src/.deps/
Skins/Belle2Skin/Belle2BeamSpot/src/.deps/
Skins/Belle2Skin/Belle2Factory/src/.deps/
Skins/Belle2Skin/Makefile
Skins/Belle2Skin/Makefile.in
Skins/BelleSkin/BelleBeamSpot/src/.deps/
Skins/BelleSkin/BelleFactory/src/.deps/
Skins/BelleSkin/Makefile
Skins/BelleSkin/Makefile.in
Skins/CMSSkin/CMSBeamSpot/src/.deps/
Skins/CMSSkin/CMSFactory/src/.deps/
Skins/CMSSkin/CMSMagneticField/src/.deps/
Skins/CMSSkin/CMSPropagator/src/.deps/
Skins/CMSSkin/Makefile
Skins/CMSSkin/Makefile.in
Skins/CMSSkin/cmssw/src/.deps/
Skins/DummySkin/ConstantMagneticField/src/.deps/
Skins/DummySkin/DummyFactory/src/.deps/
Skins/DummySkin/Makefile
Skins/DummySkin/Makefile.in
Skins/ILDSkin/ILDBeamSpot/src/.deps/
Skins/ILDSkin/ILDFactory/src/.deps/
Skins/ILDSkin/ILDMagneticField/src/.deps/
Skins/ILDSkin/ILDPropagator/src/.deps/
Skins/ILDSkin/Makefile
Skins/ILDSkin/Makefile.in
Skins/Makefile
Skins/Makefile.in
Skins/SHiPSkin/Makefile
Skins/SHiPSkin/Makefile.in
Skins/SHiPSkin/SHiPBeamSpot/src/.deps/
Skins/SHiPSkin/SHiPFactory/src/.deps/
Skins/SHiPSkin/SHiPMagneticField/src/.deps/
Skins/SIDSkin/Makefile
Skins/SIDSkin/Makefile.in
Skins/SIDSkin/SIDBeamSpot/src/.deps/
Skins/SIDSkin/SIDFactory/src/.deps/
Skins/SIDSkin/SIDMagneticField/src/.deps/
Skins/SIDSkin/SIDPropagator/src/.deps/
Skins/TinySkin/ConstantMagneticField/src/.deps/
Skins/TinySkin/Makefile
Skins/TinySkin/Makefile.in
Skins/TinySkin/TinyFactory/src/.deps/
Skins/ZeroSkin/ConstantMagneticField/src/.deps/
Skins/ZeroSkin/Makefile
Skins/ZeroSkin/Makefile.in
Skins/ZeroSkin/ZeroFactory/src/.deps/
Vertigo/.libs/
Vertigo/Converters/src/.deps/
Vertigo/Converters/src/.dirstamp
Vertigo/Event/src/.deps/
Vertigo/Event/src/.dirstamp
Vertigo/EventGeneration/src/.deps/
Vertigo/EventGeneration/src/.dirstamp
Vertigo/EventLoop/src/.deps/
Vertigo/EventLoop/src/.dirstamp
Vertigo/Makefile
Vertigo/Makefile.in
Vertigo/TrackAssociation/src/.deps/
Vertigo/TrackAssociation/src/.dirstamp
Vertigo/TrackSmearing/src/.deps/
Vertigo/TrackSmearing/src/.dirstamp
Vertigo/VertexAssociation/src/.deps/
Vertigo/VertexAssociation/src/.dirstamp
Vertigo/main/.deps/
Vertigo/main/.dirstamp
VertigoHarvest/.libs/
VertigoHarvest/Makefile
VertigoHarvest/Makefile.in
VertigoHarvest/src/.deps/
VertigoHarvest/src/.dirstamp
autom4te.cache/
compile
config.guess
config.h
config.log
config.status
config.sub
configure
cpp_application/.deps/
cpp_application/Makefile
cpp_application/Makefile.in
depcomp
install-sh
libtool
log
ltmain.sh
py-compile
python/Makefile
python/Makefile.in
stamp-h1
tools/Makefile
tools/Makefile.in
tools/src/.deps/
missing
Vertigo/vertigo
tools/.libs/
tools/src/.dirstamp
Plugins/BTagAnalyser/.libs/
Plugins/BTagAnalyser/src/.dirstamp
Plugins/BTagPrinter/.libs/
Plugins/BTagPrinter/src/.dirstamp
Plugins/CmsEventGenerator/.libs/
Plugins/CmsEventGenerator/src/.dirstamp
Plugins/EventHistogrammer/.libs/
Plugins/EventHistogrammer/src/.dirstamp
Plugins/EventPrinter/.libs/
Plugins/EventPrinter/src/.dirstamp
Plugins/EventWriter/.libs/
Plugins/EventWriter/src/.dirstamp
Plugins/FindingObserver/.libs/
Plugins/FindingObserver/src/.dirstamp
Plugins/FitterTournament/.libs/
Plugins/FitterTournament/src/.dirstamp
Plugins/HarvesterEventGenerator/.libs/
Plugins/HarvesterEventGenerator/src/.dirstamp
Plugins/LHEEventGenerator/.libs/
Plugins/LHEEventGenerator/src/.dirstamp
Plugins/LHEObserver/.libs/
Plugins/LHEObserver/src/.dirstamp
Plugins/LcioEventGenerator/src/.dirstamp
Plugins/ListEventGenerator/.libs/
Plugins/ListEventGenerator/src/.dirstamp
Plugins/MagneticFieldWriter/.libs/
Plugins/MagneticFieldWriter/src/.dirstamp
Plugins/ObjectCoder/.libs/
Plugins/ObjectCoder/src/.dirstamp
Plugins/ParameterScanner/.libs/
Plugins/ParameterScanner/src/.dirstamp
Plugins/ParticleDecayPrinter/.libs/
Plugins/ParticleDecayPrinter/src/.dirstamp
Plugins/TestAnalyser/.libs/
Plugins/TestAnalyser/src/.dirstamp
Plugins/TrackParameterHistogrammer/.libs/
Plugins/TrackParameterHistogrammer/src/.dirstamp
Plugins/VertexGun/.libs/
Plugins/VertexGun/src/.dirstamp
Plugins/VertexHistogrammer/.libs/
Plugins/VertexHistogrammer/src/.dirstamp
Plugins/Visualiser/.libs/
Plugins/Visualiser/src/.dirstamp
cpp_application/.libs/
cpp_application/propagatorTest
*/.libs
*/*/.libs
*/.deps
*/.dirstamp
*/*/.dirstamp
*/*/*/.dirstamp
*/*/*/*/.dirstamp
python/vertigo.cc
python/vertigo.h
python/vertigo.py
